body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h1 {
  color: #000000;
  text-align: center;
}
p {
  line-height: 1.6;
  color: #555;
  font-size: 1.1em;
}
.highlight {
  font-weight: bold;
  color: #444;
}

.plans {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.plan {
  background-color: #afadad;
  color: white;
  border-radius: 8px;
  padding: 20px;
  width: 40%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.plan h3 {
  margin-bottom: 20px;
}

.plan button {
  background-color: #383838;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.plan button:hover {
  background-color: #383838;
}