<header>
    <h1>Exercícios de Barra e Flexão</h1>
  </header>
  
  <section>
    <h2>Exercício de Barra</h2>
    <p>A barra fixa é um exercício muito eficaz para fortalecer a parte superior do corpo, especialmente as costas e os braços. 
        Ao realizar a barra, é importante manter a postura correta e os ombros relaxados, evitando usar a força das pernas.
         Para iniciantes, pode-se começar com a barra assistida ou com elásticos para suporte adicional.</p>
  
    <iframe src="assets/imagens/barra.mp4" title="Exercício de Barra" allowfullscreen></iframe>
  </section>
  
  <section>
    <h2>Exercício de Flexão</h2>
    <p>As flexões são um dos exercícios mais comuns para trabalhar o peitoral, tríceps e ombros. Para realizar uma flexão 
        corretamente, é importante manter o corpo alinhado da cabeça aos pés e não deixar os quadris caírem. Variantes de flexão,
         como as flexões inclinadas ou com os pés elevados, podem ser feitas para intensificar o treino.</p>
  
    <iframe src="assets/imagens/flexao.mp4" title="Exercício de Flexão" allowfullscreen></iframe>
  </section>
  