.scatter-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;

  justify-content: center;   
  align-items: center;       
  margin: 0 auto;            
  width: fit-content;        
}

.random-img {
  width: 15rem;              
  border-radius: 8px;
  transition: transform 0.25s;
}



.love-wrapper {
  position: relative;
  overflow: visible;
}

.hearts {
  pointer-events: none;
}

.hearts::before,
.hearts::after {
  content: "❤️";
  position: absolute;
  animation: floatUp 6s infinite ease-in-out;
  font-size: 2.5rem;
  opacity: 0.7;
}

.hearts::before {
  left: -40px;
  top: 60%;
  animation-duration: 7s;
}

.hearts::after {
  right: -40px;
  top: 30%;
  animation-duration: 5s;
}

@keyframes floatUp {
  0%   { transform: translateY(40px) scale(1); opacity: 0; }
  30%  { opacity: 1; }
  100% { transform: translateY(-120px) scale(1.4); opacity: 0; }
}
