
<div class="row mx-auto" style="padding-top: 1rem;">
    <div class="col-md-2 align-self-center">
      <i class="fa-solid fa-arrow-left"></i><a href="/album" class="add">Voltar para album</a>
    </div>
  <div class="col-md-3 mx-auto">
    <h1 class="titulo text-end">Nossas fotos</h1>
  </div>
  <div class="col-md-2 align-self-center">
    <i class="fa-regular fa-plus"></i><a href="/cadastrarEditarFotos" class="add"> Adicionar Fotos</a>
  </div>
</div>
<div class="container row mx-auto">
  <div class="col-md-3 align-self-center"></div>
  <div class="col-md-6 align-self-center">
      <div class="d-flex" role="search">
        <input
          type="search"
          class="form-control me-2"
          placeholder="Digite o que procura"
          autofocus
          [(ngModel)]="filtro"
          (keyup)="pesquisar($event)"
        >
      </div>
  </div>
</div>
<div class="container">
    <div class="photo-gallery">
        <div class="photo-card" *ngFor="let foto of lista">
            <button class="thumb-btn" aria-label="Editar">
               <img [src]="foto.foto" [alt]="foto.descricao || 'Foto'" loading="lazy" />
               <!-- <img [src]="link + foto.foto" [alt]="foto.descricao || 'Foto'" loading="lazy" /> -->
            </button>

            <div class="caption">
                <a  href="/cadastrarEditarFotos/{{ foto.id }}" class="caption-link">{{ foto.descricao || 'Sem legenda' }}</a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
